NEXT_PUBLIC_SUPABASE_URL=https://kgfoihluswlpidcnuyfo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtnZm9paGx1c3dscGlkY251eWZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NDgzNTIsImV4cCI6MjA5MDEyNDM1Mn0.Dnip6IciBcEyRV_D_RHv89qme1dPkKIFGFYCIvLa3YQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtnZm9paGx1c3dscGlkY251eWZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDU0ODM1MiwiZXhwIjoyMDkwMTI0MzUyfQ.zYRCjB0UbCpSPY-C4t59ZNQJuVna-LFCKDxfSVjPPvE


# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your-publishable-key
STRIPE_SECRET_KEY=sk_test_your-secret-key
STRIPE_WEBHOOK_SECRET=whsec_your-webhook-secret

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
